:host {
    display: block;
    max-width: 100%;
}

.nav-list-item__link {
    font-size: 12px;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    cursor: pointer;
    line-height: normal;

    &:hover {
        color: var(--brand-color);
    }
}

.nav-list-item__progress {
    height: 2px;
    background-color: var(--brand-color);
    margin: -3px 0 5px 0;
}
