<header>
    <h1>Comicinator</h1>

    <button (click)="openSettings()">
        <i class="bi bi-gear"></i>
    </button>

    <button (click)="scanLibrary()">
        <i class="bi bi-folder-plus"></i>
    </button>
</header>


<a class="main-nav__nav-item " routerLink="/books" routerLinkActive="main-nav__nav-item--active">
    <i class="bi bi-collection"></i>
    Books
</a>

<a class="main-nav__nav-item" routerLink="/characters" routerLinkActive="main-nav__nav-item--active">
    <i class="bi bi-person"></i>
    Characters
</a>

<a class="main-nav__nav-item" routerLink="/teams" routerLinkActive="main-nav__nav-item--active">
    <i class="bi bi-people"></i>
    Teams
</a>