@if (book()) {
    <cbx-page-header [title]="title()">
        <button
            mat-icon-button
            [matMenuTriggerFor]="viewMenu"
            title="Change view"
        >
            @if (currentFit() === "height") {
                <mat-icon>unfold_more</mat-icon>
            }
            @if (currentFit() === "width") {
                <mat-icon class="book__rotate">unfold_more</mat-icon>
            }
            @if (currentFit() === "all") {
                <mat-icon>zoom_out_map</mat-icon>
            }
        </button>

        @if (book().externalUrl) {
            <a
                [attr.href]="book().externalUrl"
                title="Open external URL"
                mat-icon-button
                target="_blank"
                ><mat-icon>link</mat-icon></a
            >
        }

        <button mat-icon-button (click)="clearThumbCache()" title="Edit">
            <mat-icon>cancel_presentation</mat-icon>
        </button>

        <button mat-icon-button (click)="edit()" title="Edit">
            <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button (click)="removeBook()" title="Delete">
            <mat-icon>delete</mat-icon>
        </button>

        <button
            mat-icon-button
            (click)="showInExplorer()"
            title="Open containing folder"
        >
            <mat-icon>folder</mat-icon>
        </button>

        <mat-menu #viewMenu="matMenu">
            <button mat-menu-item (click)="changeFit('height')">
                Fit height
            </button>
            <button mat-menu-item (click)="changeFit('width')">
                Fit width
            </button>
            <button mat-menu-item (click)="changeFit('all')">Fit all</button>
        </mat-menu>
    </cbx-page-header>

    @if (loading()) {
        <div class="book__progress">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    } @else if (activeImageUrl()) {
        <div
            class="book__viewer"
            [class.book__viewer--fit-height]="currentFit() === 'height'"
            [class.book__viewer--fit-width]="currentFit() === 'width'"
            [class.book__viewer--fit-all]="currentFit() === 'all'"
        >
            <img
                [attr.src]="activeImageUrl()"
                (click)="onPageClick($event)"
                tabindex="0"
                (keydown.space)="nextPage()"
                (keydown.arrowDown)="nextPage()"
                (keydown.arrowRight)="nextPage()"
                (keydown.shift.space)="prevPage()"
                (keydown.arrowUp)="prevPage()"
                (keydown.arrowleft)="prevPage()"
            />
        </div>
    }
}
