:host {
    --available-viewer-height: calc(
        100vh - (var(--page-header-height) + var(--header-height))
    );
    display: block;
    line-height: 0;
    // display: flex;
    align-items: center;
    justify-content: center;
}
img {
    max-width: 100%;
    height: 100%;
}

.book__progress {
    margin: 16px;
}

.book__viewer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book__viewer--fit-height {
    height: var(--available-viewer-height);
}

.book__viewer--fit-all {
    height: var(--available-viewer-height);
    width: 100%;
}

.book__rotate {
    transform: rotate(90deg);
}
