<cbx-page-header [title]="pageTitle()">
    <div class="teams__actions">
        <cbx-sort-selector
            [activeSort]="sortConfig()"
            (activeSortChange)="setSorting($event)"
        >
            <cbx-sort-item field="name" label="Name" />
            <cbx-sort-item field="aliases" label="Aliases" />
            <cbx-sort-item field="dateAdded" label="Date added" />
            <cbx-sort-item field="lastUpdated" label="Last updated" />
        </cbx-sort-selector>

        <button mat-icon-button title="Add team" (click)="addTeam()">
            <mat-icon>add</mat-icon>
        </button>

        @if (search()) {
            <div class="teams__action-divider"></div>
            <button
                mat-icon-button
                (click)="clearSearch()"
                title="Clear search"
            >
                <mat-icon>close</mat-icon>
            </button>
        }
    </div>
</cbx-page-header>

<cbx-main-team-list [search]="search()" />
