<header>
    <img src="images/logo.svg" alt="Comicinator" />
</header>

<nav>
    <a
        class="main-nav__nav-item"
        routerLink="/books"
        routerLinkActive="main-nav__nav-item--active"
    >
        <mat-icon>menu_book</mat-icon>
        Books
    </a>

    <a
        class="main-nav__nav-item"
        routerLink="/characters"
        routerLinkActive="main-nav__nav-item--active"
    >
        <mat-icon>person</mat-icon>
        Characters
    </a>

    <a
        class="main-nav__nav-item"
        routerLink="/teams"
        routerLinkActive="main-nav__nav-item--active"
    >
        <mat-icon>groups</mat-icon>
        Teams
    </a>

    <a
        class="main-nav__nav-item"
        routerLink="/locations"
        routerLinkActive="main-nav__nav-item--active"
    >
        <mat-icon>location_on</mat-icon>
        Locations
    </a>

    <a
        class="main-nav__nav-item"
        routerLink="/libraries"
        routerLinkActive="main-nav__nav-item--active"
    >
        <mat-icon>collections_bookmark</mat-icon>
        Libraries
    </a>
</nav>

<div class="main-nav__content-area">
    @if (libraries().length) {
        <cbx-nav-list title="Libraries">
            @for (lib of libraries(); track lib.id) {
                <cbx-nav-list-item
                    [label]="lib.name"
                    [url]="['/books/library', lib.id]"
                />
            }
        </cbx-nav-list>
    }

    <cbx-last-read-list />
    <cbx-radar-list />
</div>
<footer>
    <button (click)="openSettings()" [disabled]="!loaded()">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
    </button>

    <button (click)="scanLibrary()" [disabled]="!loaded()">
        <mat-icon class="material-icons-outlined">create_new_folder</mat-icon>
    </button>

    <button (click)="importFiles()" [disabled]="!loaded()">
        <mat-icon>save_alt</mat-icon>
    </button>
</footer>
