:host {
    width: 200px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    cursor: pointer;
    padding: 16px;
}

.team-item__name {
    font-family: "Bangers", system-ui;
    font-size: 24px;
    text-align: center;
}
