<div class="book-item__img" [style.backgroundImage]="thumbSrc()"></div>

@if (bookData().number != null) {
    <div class="book-item__num">#{{ bookData().number }}</div>
}

<label class="book-item__label" [attr.title]="bookData().title">{{
    bookData().title
}}</label>

<div class="book-item__actions">
    <button mat-icon-button (click)="onViewClick($event)" title="View">
        <mat-icon>visibility</mat-icon>
    </button>

    <button mat-icon-button (click)="onEditClick($event)" title="Edit">
        <mat-icon>edit</mat-icon>
    </button>
</div>
