@if (book(); as bk) {
    <cbx-content-super [title]="title()">
        <div cbx-action-buttons>
            @if (!bookState()?.complete) {
                <button
                    mat-icon-button
                    (click)="markComplete(true)"
                    title="Mark as read"
                >
                    <mat-icon>visibility</mat-icon>
                </button>
            } @else {
                <button
                    mat-icon-button
                    (click)="markComplete(false)"
                    title="Mark as unread"
                >
                    <mat-icon>visibility_off</mat-icon>
                </button>
            }

            <button mat-icon-button (click)="openBook()" title="Read book">
                <mat-icon>menu_book</mat-icon>
            </button>

            @if (bk.externalUrl) {
                <a
                    [attr.href]="bk.externalUrl"
                    title="Open external URL"
                    mat-icon-button
                    target="_blank"
                    ><mat-icon>link</mat-icon></a
                >
            }

            <button
                mat-icon-button
                (click)="clearThumbCache()"
                title="Clear thumbnail cache"
            >
                <mat-icon>cancel_presentation</mat-icon>
            </button>

            <button mat-icon-button (click)="edit()" title="Edit">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button (click)="removeBook()" title="Delete">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <div preview-image>
            <div class="book__preview-image-container">
                <img
                    class="book__preview-image"
                    [attr.src]="previewImageSrc()"
                    alt="Cover image"
                />

                <div class="book__preview-image-overlay">
                    <button mat-mini-fab (click)="openBook()" title="Read book">
                        <mat-icon>menu_book</mat-icon>
                    </button>
                </div>
            </div>

            @if (bk.number || bk.volume) {
                <div class="book__num-vol">
                    @if (bk.number) {
                        <span>#{{ bk.number }}</span>
                    }
                    @if (bk.volume) {
                        <span>V{{ bk.volume }}</span>
                    }
                </div>
            }
        </div>

        <a
            href="javascript:void(0);"
            (click)="showInExplorer()"
            class="book__file-link"
            >{{ bk.filePath }}</a
        >

        <div class="book__details">
            @if (bk.publisherId) {
                <div>
                    <label>Publisher:</label>
                    {{ publisher() }}
                </div>
            }

            @if (bk.publisherId) {
                <div>
                    <label>Series:</label>&nbsp;
                    <a [routerLink]="['/books/group/series', bk.series]">{{
                        bk.series
                    }}</a>
                </div>
            }

            @if (bk.coverDate) {
                <div>
                    <label>Store date:</label>
                    {{ bk.coverDate | date: 'mediumDate' }}
                </div>
            }

            @if (bk.writer) {
                <div>
                    <label>Writer(s):</label>
                    {{ bk.writer }}
                </div>
            }

            @if (bk.penciler) {
                <div>
                    <label>Penciler(s):</label>
                    {{ bk.penciler }}
                </div>
            }

            @if (bk.inker) {
                <div>
                    <label>Inker(s):</label>
                    {{ bk.inker }}
                </div>
            }

            @if (bk.colorist) {
                <div>
                    <label>Colorist(s):</label>
                    {{ bk.colorist }}
                </div>
            }

            @if (bk.letterer) {
                <div>
                    <label>Letterer(s):</label>
                    {{ bk.letterer }}
                </div>
            }

            @if (bk.coverArtist) {
                <div>
                    <label>Cover artist(s):</label>
                    {{ bk.coverArtist }}
                </div>
            }
        </div>
    </cbx-content-super>

    <mat-tab-group
        animationDuration
        mat-stretch-tabs="false"
        (selectedIndexChange)="activeTabIndex.set($event)"
    >
        <mat-tab label="Characters"></mat-tab>
        <mat-tab label="Teams"></mat-tab>
        <mat-tab label="Locations"></mat-tab>
    </mat-tab-group>

    <div class="book__lists">
        @if (activeTabIndex() === 0) {
            <cbx-character-list [characters]="characters()" />
        }
        @if (activeTabIndex() === 1) {
            <cbx-team-list [teams]="teams()" />
        }
        @if (activeTabIndex() === 2) {
            <cbx-location-list [locations]="locations()" />
        }
    </div>
}
