<cbx-search-bar />
<cbx-main-nav />

<!-- <img [src]="imgSrc"> -->

<!-- <button (click)="loadComics()">Load comics</button>

<button (click)="openSettings()">Settings</button>

<button (click)="scanLibrary()">Scan library</button>
<br> -->

<router-outlet></router-outlet>

<!-- <img src="zip-thumb://C%3A/Development/Absolute Batman 001 (2024).cbz">

<img [attr.src]="filePath"> -->

<!-- <img src="zip-thumb://C:\Development\Absolute Batman 001 (2024).cbz"> -->

<!-- file:///C:/Development/Absolute%20Batman%20001%20(2024)%20001.jpg -->