<h2
    mat-dialog-title
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
>
    Search results
</h2>
<mat-dialog-content>
    <div class="search-result__container">
        <div>
            <div class="search-result__preview-image">
                @if (selectedItem(); as issue) {
                    <img [attr.src]="issue.image.smallUrl" />
                }
            </div>
        </div>

        <div>
            <table
                mat-table
                matSort
                matSortActive="issueNumber"
                matSortDirection="asc"
                [dataSource]="dataSource"
                class="mat-elevation-z8"
            >
                <ng-container matColumnDef="issueNumber">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.issueNumber }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.name }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    (click)="selectedItem.set(row)"
                    [class.search-result__selected]="selectedItem() === row"
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>

            @if (loading()) {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }

            @if (showLoadMore()) {
                <button
                    mat-button
                    type="button"
                    [disabled]="completingSelection()"
                    (click)="loadMore()"
                >
                    More
                </button>
            }
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
        type="button"
        mat-dialog-close
        [disabled]="completingSelection()"
    >
        Cancel
    </button>

    <button
        mat-button
        type="submit"
        cdkFocusInitial
        (click)="selectCurrent()"
        [disabled]="selectedItem() == null || completingSelection()"
    >
        Select
    </button>
</mat-dialog-actions>
